@charset "UTF-8";
/* O guia está no link: https://www.origamid.com/projetos/css-grid-layout-guia-completo/ */

/* Grid */
.grid {
	display: grid;
}

.grid-auto-columns-1 {
	grid-template-columns: 1fr 1fr;
	grid-auto-columns: 100px; /*Faz com que as colunas geradas automaticamente tenham 100px, no exemplo 01 são criadas 2 colunas, mas há um parametro aqui em baixo que obriga o item 4 está na coluna 5, com isso ele gera automaticamente mais 3 colunas, e essas novas colunas vão tem base de 100px*/
}

/* Ele força a criação de 5 colunas */
.item-6 {
	grid-column: 5; 
}

.grid-auto-columns-2 {
	grid-template-columns: 40px 40px; /*Esse aqui ele só influencia na 1 e 2 colunas especificamente*/
	grid-auto-columns: 70px 90px; /*quando tem 2 medidas, ele faz com que a primeira coluna criada automaticamente tenha 50px a segunda tenha 100px e assim em diante, a terceira 50px a quarta 100px e etc.*/
}

.grid-auto-columns-2 > .item-6 {
	grid-column: 6; /*faz com que tenha 6 coluna forçadamente no exemplo 02*/
}

.grid-auto-columns-3 { /*Como não foi definido o tamanho das colunas criadas automaticamentes, ela vai ter o tamanho do conteúdo*/
	grid-template-columns: 1fr 1fr; 
}

/* Grid Item */
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.grid {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}

body > div {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}

body > div > img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}